# Created by .ignore support plugin (hsz.mobi)
### JEnv template
# JEnv local Java version configuration file
.java-version

# Used by previous versions of JEnv
.jenv-version

# IDE
.idea/

# Temporal folders
tmp/
temp/

